<!DOCTYPE html>
<html>

<head>
  <title>Happy Hours</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Titan+One&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles/main.css">

</head>

<body>
  <div class="containter">

    <div class="response-area">
      <p>
        😄<%=content%>
      </p>
    </div>

    <div class="buttonbox">
      <button type="submit" id="programmingjoke" onclick="window.location.href='/programmingjoke'">Programming</button>
      <button type="submit" id="miscjoke" onclick="window.location.href='/miscjoke'">Misc</button>
      <button type="submit" id="singlejoke" onclick="window.location.href='/singlejoke'">Single</button>
      <button type="submit" id="twopartjoke" onclick="window.location.href='/twopartjoke'">Two Part</button>
      <button type="submit" id="punjoke" onclick="window.location.href='/punjoke'">Pun</button>
    </div>

  </div>
</body>

</html>